{% extends 'layout.html.twig' %}
{% set active = 'form' %}

{% block content %}
<legend>Order Summary</legend>

<div class="order_summary clear">
    <i id="changebuy" class="icon-large pull-right  icon-edit"></i>
    <div id="order-summary">
    {% set probedetails = app.session.get('probuct_n_subscription') %}
        You Selected Master probe unit and {{probedetails.__no_of_probes}} probes {% if probedetails._subscription_status %}, with {{probedetails.__subscription_period}} Probe monitoring Subscription{% endif %}
        <br/>
        Total item cost = ${{productDetails.subTotal}}
        <br/>
    {% if probedetails._subscription_status %}
        Probe Monitoring Subscription fee ({{probedetails.__subscription_period}}) = ${{productDetails.subscription.totalSubscriptionCost}}
    {% endif %}

    </div>
    <div class="new-order" style="display: none">
        <legend class="clear">Update Your Selection</legend>
        <select namname="masterunit" id="new-order-probes">
            {% for i in 1..10 %}
            {% if probedetails.__no_of_probes == i %}{% set selected = 'selected="selected"' %} {% else %}{% set selected = '' %}  {% endif %}
            <option {{selected}} value="{{ i }}">Master Unit + {{i}} probe(s)</option>
            {% endfor %}
        </select>
        <select namname="subscription" id="new-order-subscription">
            <option value="">No Probe Monitoring</option>
            <option {% if probedetails.__subscription_period=='weekly' %}selected="selected"{%endif%} value="weekly">Weekly Subscription</option>
            <option {% if probedetails.__subscription_period=='monthly' %}selected="selected"{%endif%}value="monthly">Monthly Subscription</option>
            <option {% if probedetails.__subscription_period=='yearly' %}selected="selected"{%endif%} value="yearly">Yearly Subscription</option>
        </select>
        <input type="submit" id="update-info" name="update" value="Update" class="btn btn-primary"/>

    </div>


</div>
<legend>Calculate Shipping Cost</legend>
<div class="tabbable">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#pane1" data-toggle="tab">Domestic</a></li>
        <li><a href="#pane2" data-toggle="tab">International</a></li>

    </ul>
    <div class="tab-content">
        <div id="pane1" class="tab-pane active">
            <div id="domestic_input">
                <span id="error_info" style="display: none">
                    <div class="alert alert-error" >
                        <button class="close" data-dismiss="alert">×</button>
                        <span id="error-message"></span>
                    </div>
                </span>
                <div class="control-group">
                    <label for="to_pin" class="control-label required">Destination *</label>
                    <div class="controls pull-left clear"> <input type="text" name="to_pin" id="to_pin" placeholder="Enter suburb or postcode"/>
                    </div>

                </div>
                <div class="dimension">
                    <h4 class="clear">Dimensions of your item</h4>
                    <div class=" pull-left">
                        <label for="length" class="control-label required">Length *</label>
                        <div class="control pull-left"> <input type="text" name="length" id="length" placeholder="cm"/></div>                
                    </div>
                    <div class=" pull-left">
                        <label for="width" class="control-label required">Width *</label>
                        <div class="control pull-left"> <input type="text" name="width" id="width" placeholder="cm"/></div>                
                    </div>
                    <div class=" pull-left">
                        <label for="height" class="control-label required">Height *</label>
                        <div class="control pull-left"> <input type="text" name="height" id="height" placeholder="cm"/></div>                
                    </div>
                    <div class=" pull-left">
                        <label for="wight" class="control-label required">Weight *</label>
                        <div class="control pull-left"> <input type="text" name="weight" id="weight" placeholder="kg"/></div>       
                        <div class="controls pull-left"> <button class="btn btn-primary" tabindex="15" name="calculate" id="domestic_calculator" type="submit">Calculate</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="domestic_output" style="display: none">
                <div class="parcel_post" id="parcel_post">
                    <img src="{{ app.request.basepath }}/img/regular_post_box.png"/>
                    <div class="prcel_details">
                        <h3 class="service-name">Parcel Post</h3>
                        <p class="service-tooltip">Based on the size and weight you've entered</p>
                        <table class="table">

                            <tbody>
                                <tr>
                                    <td>Postage Charge</td>
                                    <td id="postage_regular"></td>

                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="parcel_post" id="express_post">

                    <img src="{{ app.request.basepath }}/img/express_post_box.png"/>
                    <div class="prcel_details">
                        <h3 class="service-name">Express Post</h3>
                        <p class="service-tooltip">Based on the size and weight you've entered</p>
                        <table class="table">

                            <tbody>
                                <tr>
                                    <td>Postage Charge</td>
                                    <td id="postage_express"></td>

                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>

                <a id="domestic_back" class="button ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only pull-right clear">Back</a>
            </div>

        </div>
        <div id="pane2" class="tab-pane">
            <h4>Pane 2 Content</h4>
            <p> and so on ...</p>
        </div>

    </div><!-- /.tab-content -->
</div><!-- /.tabbable -->
<legend class="clear">Customer Info</legend>

 {{ form_start(form,{'form_type': 'horizontal', 'attr': {'class': 'form-horizontal'}}) }}
        {{ form_errors(form) }}

<div class="billing_address"  style="padding-right: 35px">
    <div class="pull-left">
         {{ form_row(form.name,{ 'attr': {'tabindex': '1'} }) }}
         {{ form_row(form.billingAddress1,{ 'attr': {'tabindex': '3'} }) }}
         {{ form_row(form.billingCity,{ 'attr': {'tabindex': '5'} }) }}
          {{ form_row(form.billingCountry,{ 'attr': {'tabindex': '7'} }) }}
    </div>
    <div class="pull-left">
         {{ form_row(form.email,{ 'attr': {'tabindex': '2'} }) }}
        {{ form_row(form.billingAddress2,{ 'attr': {'tabindex': '4'} }) }}
         {{ form_row(form.billingZip,{ 'attr': {'tabindex': '6'} }) }}
         {{ form_row(form.billingState,{ 'attr': {'tabindex': '8'} }) }}
    </div>





</div>



<div class="pull-left clear">

     {{ form_row(form.shipNBill,{'attr': {'class':'ship_n_bill'} }) }}
</div>

<div class="shipping_address clear" >
    <legend class="clear">Shiiping Info</legend>
    <div class="pull-left">
        {{ form_row(form.shippingAddress1,{ 'attr': {'tabindex': '9'} }) }}
         {{ form_row(form.shippingCity,{ 'attr': {'tabindex': '11'} }) }} 
         {{ form_row(form.shippingCountry,{ 'attr': {'tabindex': '13'} }) }}
    </div>
    <div class="pull-left">
     {{ form_row(form.shippingAddress2,{ 'attr': {'tabindex': '10'} }) }}  
    {{ form_row(form.shippingZip,{ 'attr': {'tabindex': '12'} }) }}
    {{ form_row(form.shippingState,{ 'attr': {'tabindex': '14'} }) }}

    </div>







</div>

 {{ form_row(form.submit, { 'label': 'Buy Now', 'attr': {'tabindex': '15'} }) }} 
{{ form_rest(form) }}
{{ form_end(form) }}

{% endblock %}
