{% extends 'layout.html.twig' %}
{% set active = 'account' %}
{% block subhead%}
<h2><p> 
<a class="brand" href="{{ path('homepage') }}">{{ 'Welcome to Smart Probe'|trans }}</a></p></h2>
{% endblock %}
{% block content %}

  {% if is_granted('ROLE_USER') %}
<p>Welcome {{ app.security.token.user.username }}!</p>
<p><a href="{{ path('logout') }}">Log out</a></p>
{% else %}
<div class="in forms">
    <center>
        <form action="{{ path('login_check') }}" method="post">

            <p><strong>USERNAME</strong><br />
                <input class="box" id="username" type="text" name="_username" value="{{ last_username }}"></p>

            <p><strong>PASSWORD</strong><br />
                <input class="box" id="password" type="password" name="_password"></p>				
            <p><input name="submit" type="submit" id="submit"  tabindex="5" class="com_btn" value="LOGIN" /></p>
        </form>
    </center>
</div>
    {% if error %}
<div class="error">{{ error }}</div>
        {% endif %}
{% endif %}

{% endblock %}
